.container {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	margin: 1rem;
	border-radius: 5px;
}
.container .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 20px;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}
.container .header h3 {
	font-weight: 500;
	font-family: var(--poppins);
	font-size: 16px;
}
.container .header .headerBtn {
	border: none;
	outline: none;
	background-color: #fe6948;
	color: #fff;
	font-family: var(--poppins);
	font-size: 12px;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
	transition: all 0.2s;
}
.container .header .headerBtn:hover {
	opacity: 0.9;
}
.container .content {
	padding: 10px 15px;
}
.container .content ul.notifications li:nth-child(1) {
	border-top: none;
}
.container .content ul.notifications li {
	position: relative;
	list-style: none;
	border-top: 1px solid #ebebeb;
	padding: 1rem;
}
.container .content ul.notifications li p {
	font-size: 14px;
	font-family: var(--poppins);
}

.container .content ul.notifications li p a {
	color: #fe6948;
	font-family: var(--poppins);
}

.container .content ul.notifications li p.date {
	font-size: 13px;
	opacity: 0.8;
	margin-top: 5px;
}

.container .content ul.notifications li .indicator {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 6px;
	height: 6px;
	background: #fe6948;
	border-radius: 50%;
}
