.panelLayoutContainer {
	margin: 1rem 3rem;
	margin-bottom: 2rem;
	display: flex;
	position: relative;
}
.panelLayoutContainer .sidebar {
	width: 270px;
	margin-left: 2rem;
	margin-top: 2rem;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	max-height: 550px;
	overflow: hidden;
	transition: all 0.3s;
}
.panelLayoutContainer .sidebar.active {
	width: 270px;
	margin-left: 2rem;
}
.panelLayoutContainer .sidebar.hide {
	width: 270px;
	margin-left: 2rem;
}
.panelLayoutContainer .sidebar .sidebar_topBox {
	background-color: #fe6948;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	border-radius: 10px 10px 0 0;
}
.closeBtn {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	padding: 5px 10px !important;
}
.closeBtn:hover,
.closeBtn:active {
	background: transparent !important;
}

.panelLayoutContainer .sidebar .sidebar_topBox img {
	border-radius: 50%;
}
.panelLayoutContainer .sidebar .sidebar_topBox .userName {
	color: #fff;
	font-weight: 500;
	font-size: 17px;
}
.panelLayoutContainer .sidebar .sidebar_topBox .userEmail {
	color: #fff;
	opacity: 0.8;
	font-weight: 400;
	font-size: 13px;
}
.panelLayoutContainer .sidebar .menu_item_container {
	margin-top: 10px;
	padding: 0 10px;
	padding-bottom: 10px;
}
.panelLayoutContainer .sidebar .menu_item_container li.menu_item {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 12px 10px;
	cursor: pointer;
	border-radius: 10px;
	color: #63666b;
	transition: 0.2s;
	margin: 2px 0;
}
.panelLayoutContainer .sidebar .menu_item_container li.menu_item .item_icon {
	width: 20px;
	height: 20px;
}
.panelLayoutContainer .sidebar .menu_item_container li.menu_item:hover {
	background-color: rgb(230 46 4 / 15%);
}
.panelLayoutContainer .sidebar .menu_item_container li.menu_item.active {
	color: #e62e04;
	background-color: rgb(230 46 4 / 15%);
}
.panelLayoutContainer .sidebar .menu_item_container li.menu_item.active a {
	color: rgb(41, 41, 41);
}
.panelLayoutContainer .sidebar .menu_item_container li.menu_item a {
	padding: 0 15px;
	font-size: 14.5px;
	font-weight: 400;
	color: #63666b;
	font-family: var(--poppins);
	flex: 1;
}
.panelLayoutContainer .sidebar button {
	border: none;
	outline: none;
	background-color: #fe6948;
	color: #fff;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	transition: 0.3s;
}
.panelLayoutContainer .sidebar button:hover {
	background-color: rgb(238, 63, 24);
}
.panelLayoutContainer .main_container {
	flex: 1;
	margin-top: 2rem;
	padding: 0 15px;
}
.panelLayoutContainer .main_container .topBar {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	padding: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}
.panelLayoutContainer .main_container .topBar button {
	width: 40px;
	border: none;
	outline: none;
	display: none;
	background-color: transparent;
	padding: 0 10px;
	cursor: pointer;
}
.panelLayoutContainer .main_container .topBar h3 {
	margin: 0 10px;
	font-size: 16px;
	font-weight: 500;
	color: #1f1f1f;
	font-family: var(--laila);
}

@media (max-width: 1200px) {
	.panelLayoutContainer {
		margin: 1rem 0;
	}
	.panelLayoutContainer .sidebar {
		width: 0;
		margin-left: 0;
		position: absolute;
		top: 0;
		left: -100px;
		z-index: 100;
	}
	.panelLayoutContainer .sidebar.active {
		left: -20px;
	}
	.closeBtn {
		display: block;
	}
	.panelLayoutContainer .main_container .topBar button {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 350px) {
	.panelLayoutContainer .main_container {
		padding: 0 5px;
	}
}
